Repository janosh/awesome-normalizing-flows: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-bracket-links, no-http, no-repeated-whitespace

no-bracket-links:
  name: Brackets should not be inside links [[link]](url) -> [[link](url)]
  entry: \]\]\(
  language: pygrep

no-http:
  name: URLs must use HTTPS
  entry: 'http:'
  language: pygrep

no-repeated-whitespace:
  name: No repeated spaces
  entry: \S+\s{2,}
  language: pygrep

convert publications
  data/publications.yml
Due: no-http, no-repeated-whitespace

remove comma
  data/publications.yml
Due: no-http, no-repeated-whitespace

Update data/packages.yml
  data/packages.yml
Due: no-http, no-repeated-whitespace

fix __main__ loop and define class Author(TypedDict)
  data/make_readme.py
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

make script path absolute
  data/make_readme.py
Due: none

revert reposition of module level vars
  data/make_readme.py
Due: none

reapply somehow disappeared abs dir change
  data/make_readme.py
Due: none

raise ValueError on non-https author URLs
  data/applications.yml
  data/make_readme.py
  data/packages.yml
  data/posts.yml
  data/publications.yml
  data/videos.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

Change `authors` to `list[dict['name' | 'url' | ..., str]]` (#70)
  data/applications.yml
  data/make_readme.py
  data/packages.yml
  data/posts.yml
  data/publications.yml
  data/repos.yml
  data/videos.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

perhaps put local hooks to the end?
  .pre-commit-config.yaml
Due: no-repeated-whitespace

add google yamlfmt hook
  .pre-commit-config.yaml
Due: no-repeated-whitespace

yamlfmt pre-commit hook pass args -formatter retain_line_breaks=true
  .pre-commit-config.yaml
Due: no-repeated-whitespace

push a badly formatted yaml
  data/packages.yml
Due: no-http, no-repeated-whitespace

what about one space?
  data/packages.yml
Due: no-http, no-repeated-whitespace

revert bad changes
  data/packages.yml
Due: no-http, no-repeated-whitespace

Add auto-format yaml pre-commit hook (#71)
  .pre-commit-config.yaml
Due: no-repeated-whitespace

bump pre-commit hooks and update links to diagrams repo
  .github/workflows/generate-readme.yml
  .github/workflows/link-check.yml
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  data/packages.yml
  data/publications.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

bump pre-commit hooks and update links to diagrams repo
  .github/workflows/generate-readme.yml
  .github/workflows/link-check.yml
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  assets/jax.svg
  assets/julia.svg
  assets/other.svg
  assets/pytorch.svg
  assets/tensorflow.svg
  assets/toc.svg
  data/packages.yml
  data/publications.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

Path conditions:
  no-bracket-links: any of: \.(md|markdown|mdown)$
  no-http: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: .pre-commit-config.yaml
  no-repeated-whitespace: any file but: \.py$
