Repository janosh/awesome-normalizing-flows: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-bracket-links, no-http, no-repeated-whitespace

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: quarterly

default_stages: [commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: destroyed-symlinks
      - id: end-of-file-fixer
        exclude_types: [svg]
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        args: [--write, --single-quote]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.30.0
    hooks:
      - id: markdownlint
        # MD013: line length
        # MD033: no inline HTML
        # MD041: first line in a file should be a top-level heading
        args: [--disable, MD013, MD033, MD041, '--']

  - repo: local
    hooks:
      - id: no-bracket-links
        name: 'Brackets should not be inside links [[link]](url) -> [[link](url)]'
        entry: '\]\]\('
        language: pygrep
        types: [markdown]

  - repo: local
    hooks:
      - id: no-http
        name: URLs must use HTTPS
        entry: 'http:'
        language: pygrep
        types_or: [markdown, yaml]
        exclude: .pre-commit-config.yaml

  - repo: local
    hooks:
      - id: no-repeated-whitespace
        name: No repeated spaces
        entry: '\S+\s{2,}'
        language: pygrep
        types: [text]
        exclude_types: [python]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        stages: [commit, commit-msg]
        exclude: yarn.lock
        args: [--ignore-words-list, 'ba,gool']

readme only show author's last names for publications + applications
  .github/workflows/generate-readme.yml
  .github/workflows/link-check.yml
  data/make_readme.py
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

add generate-readme CI badge
  .github/workflows/generate-readme.yml
  .github/workflows/link-check.yml
  data/code.yml
  data/make_readme.py
  data/publications.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

add vid-8 https://youtu.be/7TOvhz93G9o
  .github/workflows/generate-readme.yml
  data/videos.yml
Due: no-http, no-repeated-whitespace

update readme
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

Add https://youtu.be/7TOvhz93G9o (#32)
  .github/workflows/generate-readme.yml
  data/videos.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

Updated publications.yaml
  data/publications.yml
Due: no-http, no-repeated-whitespace

Update posts.yaml
  data/posts.yml
Due: no-http, no-repeated-whitespace

delete post-3: http://ruishu.io/2018/05/19/change-of-variables
  .github/workflows/generate-readme.yml
  data/posts.yml
Due: no-http, no-repeated-whitespace

data/make_readme.py print section counts after updating readme
  data/make_readme.py
Due: none

run make_readme.py
  .github/workflows/generate-readme.yml
  data/publications.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

Add 12 more publications (#33)
  .github/workflows/generate-readme.yml
  data/make_readme.py
  data/posts.yml
  data/publications.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

[pre-commit.ci] pre-commit autoupdate (#34)
  .pre-commit-config.yaml
  data/make_readme.py
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

add key 'repo' to publications
  data/applications.yml
  data/make_readme.py
  data/publications.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: no-repeated-whitespace

Update publications.yml
  data/publications.yml
Due: no-http, no-repeated-whitespace

tweak descriptions on pubs 38 to 50
  data/publications.yml
Due: no-http, no-repeated-whitespace

fix broken link for code-12 PyMC3 'Normalizing Flows Overview'
  data/code.yml
Due: no-http, no-repeated-whitespace

fix indentation error and change url to arxiv on pub-51
  data/publications.yml
Due: no-http, no-repeated-whitespace

python data/make_readme.py
  data/publications.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

Add "Multi-scale Attention Flow for Probabilistic Time Series Forecasting" (#36)
  data/code.yml
  data/publications.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

add post-5 https://dmol.pub/dl/flows by Andrew White
  data/code.yml
  data/posts.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

add pre-commit hooks flake8, black, isort
  .pre-commit-config.yaml
  data/code.yml
  data/make_readme.py
  data/packages.yml
  data/videos.yml
  setup.cfg
Due: no-http, no-repeated-whitespace

ignore links to tweets in link-check CI
  .github/workflows/link-check-config.json
Due: no-repeated-whitespace

[pre-commit.ci] pre-commit autoupdate (#37)
  .pre-commit-config.yaml
Due: no-repeated-whitespace

add pub ManiFlow https://arxiv.org/abs/2208.08932
  .github/workflows/generate-readme.yml
  .github/workflows/link-check.yml
  data/publications.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

Add LAMPE by François Rozet
  data/packages.yml
Due: no-http, no-repeated-whitespace

upper case title lampe->LAMPE and tweak description
  data/packages.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

add commit hook autoflake + flake8-bugbear plugin
  .pre-commit-config.yaml
  data/make_readme.py
  setup.cfg
Due: no-repeated-whitespace
