Repository janosh/awesome-normalizing-flows: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-bracket-links, no-http, no-repeated-whitespace

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: quarterly

default_stages: [commit]

default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: destroyed-symlinks
      - id: end-of-file-fixer
        exclude_types: [svg]
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8

  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1
    hooks:
      - id: markdownlint
        # MD013: line length
        # MD033: no inline HTML
        # MD041: first line in a file should be a top-level heading
        args: [--disable, MD013, MD033, MD041, '--']

  - repo: local
    hooks:
      - id: no-bracket-links
        name: 'Brackets should not be inside links [[link]](url) -> [[link](url)]'
        entry: '\]\]\('
        language: pygrep
        types: [markdown]

  - repo: local
    hooks:
      - id: no-http
        name: URLs must use HTTPS
        entry: 'http:'
        language: pygrep
        types_or: [markdown, yaml]
        exclude: .pre-commit-config.yaml

  - repo: local
    hooks:
      - id: no-repeated-whitespace
        name: No repeated spaces
        entry: '\S+\s{2,}'
        language: pygrep
        types: [text]
        exclude_types: [python]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        stages: [commit, commit-msg]

Add LAMPE package (#39)
  .pre-commit-config.yaml
  data/make_readme.py
  data/packages.yml
  readme.md
  setup.cfg
Due: no-bracket-links, no-http, no-repeated-whitespace

Add Unconstrained Monotonic Neural Networks and Graphical Normalizing Flows
  data/code.yml
  data/publications.yml
Due: no-http, no-repeated-whitespace

tweak titles and add new entries to readme
  data/code.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

Add Unconstrained Monotonic Neural Networks and Graphical Normalizing Flows (#40)
  data/code.yml
  data/publications.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

[pre-commit.ci] pre-commit autoupdate (#41)
  .pre-commit-config.yaml
Due: no-repeated-whitespace

added Jammy Flows package
  data/packages.yml
Due: no-http, no-repeated-whitespace

update readme
  data/packages.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

Add Jammy Flows PyTorch package (#43)
  data/packages.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

define TypedDicts for readme Items and Sections
  data/make_readme.py
Due: none

update readme
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

Define Item and Section TypedDicts in make_readme.py (#44)
  data/make_readme.py
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

Replace LAMPE by Zuko
  data/packages.yml
Due: no-http, no-repeated-whitespace

update readme
  data/make_readme.py
  data/packages.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

Replace LAMPE by Zuko (#46)
  data/make_readme.py
  data/packages.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

add new code DeeProb-kit
  data/code.yml
  data/make_readme.py
  data/publications.yml
  data/videos.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

remove item ids
  data/applications.yml
  data/code.yml
  data/make_readme.py
  data/packages.yml
  data/posts.yml
  data/publications.yml
  data/videos.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

add StyleFlow
  data/code.yml
  data/make_readme.py
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

remove blockquotes for descriptions
  data/make_readme.py
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

breakline instead of new paragraph for descriptions
  data/code.yml
  data/make_readme.py
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

Add StyleFlow (#47)
  data/code.yml
  data/make_readme.py
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

add https://github.com/LukasRinder/normalizing-flows
  data/code.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

pluralize 'Code'->'Codes' section
  assets/other.svg
  data/codes.yml
  data/make_readme.py
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

rename '🎉 Open to Suggestions!' section to '🚧 Contributing'
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

pre-commit autoupdate
  .pre-commit-config.yaml
Due: no-repeated-whitespace

center readme heading
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

add raw.githubusercontent.com diagrams for RNVP, MAF, MADE with GitHub light and dark mode version
  data/publications.yml
Due: no-http, no-repeated-whitespace

update readme
  assets/made.svg
  assets/normalizing-flow.svg
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

fix diagram indentation
  data/publications.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace
