Repository janosh/awesome-normalizing-flows: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-bracket-links, no-http, no-repeated-whitespace

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: quarterly

default_stages: [commit]

default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: destroyed-symlinks
      - id: end-of-file-fixer
        exclude_types: [svg]
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8

  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black

  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1
    hooks:
      - id: markdownlint
        # MD013: line length
        # MD033: no inline HTML
        # MD041: first line in a file should be a top-level heading
        args: [--disable, MD013, MD033, MD041, '--']

  - repo: local
    hooks:
      - id: no-bracket-links
        name: 'Brackets should not be inside links [[link]](url) -> [[link](url)]'
        entry: '\]\]\('
        language: pygrep
        types: [markdown]

  - repo: local
    hooks:
      - id: no-http
        name: URLs must use HTTPS
        entry: 'http:'
        language: pygrep
        types_or: [markdown, yaml]
        exclude: .pre-commit-config.yaml

  - repo: local
    hooks:
      - id: no-repeated-whitespace
        name: No repeated spaces
        entry: '\S+\s{2,}'
        language: pygrep
        types: [text]
        exclude_types: [python]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        stages: [commit, commit-msg]

wrap title in quotes to fix parse error
  data/publications.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

Add 'FInC Flow: Fast and Invertible k×k Convolutions for Normalizing Flows' (#56)
  data/publications.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

Add 'Invertible Monotone Operators for Normalizing Flows'
  data/make_readme.py
  data/publications.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

Improve description
  data/publications.yml
Due: no-http, no-repeated-whitespace

Rebuild
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

Improve description
  data/publications.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

Add 'Invertible Monotone Operators for Normalizing Flows' (#59)
  data/make_readme.py
  data/publications.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

fix dead link
  data/posts.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

[pre-commit.ci] pre-commit autoupdate (#60)
  .pre-commit-config.yaml
  data/posts.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

update the name
  data/packages.yml
  data/repos.yml
Due: no-http, no-repeated-whitespace

update readme
  data/packages.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

Update the name of `ICNF.jl` (#61)
  data/packages.yml
  data/repos.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

v1.0.0
  .github/workflows/generate-readme.yml
  .pre-commit-config.yaml
  data/make_readme.py
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

add Zenodo DOI badge
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

drop black for ruff-format
  .pre-commit-config.yaml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

fix dead pymc.io example link
  .github/workflows/generate-readme.yml
  .github/workflows/link-check-config.json
  .github/workflows/link-check.yml
  .pre-commit-config.yaml
  data/repos.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

chore: flowMC added in JAX packages
  data/packages.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

chore: 3 new papers added
  data/publications.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

bump pre-commit hooks
  .pre-commit-config.yaml
Due: no-repeated-whitespace

revert ToC changes plus formatting
  data/publications.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

refactor validate_item()
  .pre-commit-config.yaml
  data/make_readme.py
Due: no-repeated-whitespace

JAX package and papers (#66)
  .pre-commit-config.yaml
  data/make_readme.py
  data/packages.yml
  data/publications.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

gwkokab a parameter estimation for models in astrophysics
  data/make_readme.py
  data/packages.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

fix 2 dead links
  .pre-commit-config.yaml
  data/packages.yml
  data/publications.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

add https://doi.org/10.1073/pnas.2109420119 to .github/workflows/link-check-config.json ignorePatterns
  .github/workflows/link-check-config.json
  data/packages.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

revert to numbered ToC
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

GWKokab a parameter estimation package in domain of astrophysics (#68)
  .github/workflows/link-check-config.json
  .pre-commit-config.yaml
  data/packages.yml
  data/publications.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

insert shebang and script check
  data/make_readme.py
Due: none

pre-commit run
  data/make_readme.py
Due: none

convert to dict of name and url
  data/applications.yml
  data/packages.yml
Due: no-http, no-repeated-whitespace

convert more to dict
  data/posts.yml
  data/repos.yml
  data/videos.yml
Due: no-http, no-repeated-whitespace
