Repository janosh/awesome-normalizing-flows: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-bracket-links, no-trailing-slash, no-http

no-bracket-links:
  name: Brackets should not be inside links [[link]](url) -> [[link](url)]
  entry: \]\]\(
  language: pygrep

no-trailing-slash:
  name: URLs should not have trailing slashes
  entry: https?:\/\/.+\/(\s|\?)
  language: pygrep

no-http:
  name: URLs must use HTTPS
  entry: 'http:'
  language: pygrep

Update readme.md
  readme.md
Due: no-bracket-links, no-trailing-slash, no-http

Fix date typo
  readme.md
Due: no-bracket-links, no-trailing-slash, no-http

Add "Latent Space Policies for Hierarchical Reinforcement Learning" (#25)
  readme.md
Due: no-bracket-links, no-trailing-slash, no-http

[pre-commit.ci] pre-commit autoupdate
  .pre-commit-config.yaml
Due: no-trailing-slash

add codespell hook, mv markdownlint config to .pre-commit-config.yaml
  .github/PULL_REQUEST_TEMPLATE.md
  .markdownlint.yml
  .pre-commit-config.yaml
  readme.md
Due: no-bracket-links, no-trailing-slash, no-http

add "E(n) Equivariant Normalizing Flows" https://arxiv.org/abs/2105.09016
  readme.md
Due: no-bracket-links, no-trailing-slash, no-http

Add flowtorch by Facebook / meta
  readme.md
Due: no-bracket-links, no-trailing-slash, no-http

add flowtorch project start date
  readme.md
Due: no-bracket-links, no-trailing-slash, no-http

Add flowtorch by Facebook / meta (#27)
  readme.md
Due: no-bracket-links, no-trailing-slash, no-http

vertically center github star count badges
  .github/workflows/link-check.yml
  .pre-commit-config.yaml
  readme.md
Due: no-bracket-links, no-trailing-slash, no-http

extract readme data for (pub|app)lications to yaml files, then generate readme programmatically
  applications.yml
  make_readme.py
  publications.yml
Due: no-trailing-slash, no-http

also extract code, packages, posts, videos from readme to yaml
  data/applications.yml
  data/code.yml
  data/packages.yml
  data/posts.yml
  data/publications.yml
  data/videos.yml
  make_readme.py
Due: no-trailing-slash, no-http

fine-tuning make_readme.py output
  .github/workflows/generate-readme.yml
  .github/workflows/link-check.yml
  .pre-commit-config.yaml
  assets/others.svg
  data/code.yml
  data/make_readme.py
  data/packages.yml
  data/publications.yml
  readme.md
Due: no-bracket-links, no-trailing-slash, no-http

fix GHA python version to str
  .github/workflows/generate-readme.yml
Due: no-trailing-slash, no-http

fix 403 and 500 urls
  data/applications.yml
  data/videos.yml
Due: no-trailing-slash, no-http

update readme
  readme.md
Due: no-bracket-links, no-trailing-slash, no-http

convert dates to iso format
  data/applications.yml
  data/code.yml
  data/make_readme.py
  data/packages.yml
  data/posts.yml
  data/publications.yml
  data/videos.yml
  readme.md
Due: no-bracket-links, no-trailing-slash, no-http

fix make_readme.py missing a section due to wrong section title
  data/make_readme.py
  readme.md
Due: no-bracket-links, no-trailing-slash, no-http

update PR template with hint to edit data/*.yml files, not readme directly
  .github/PULL_REQUEST_TEMPLATE.md
Due: no-bracket-links, no-trailing-slash, no-http

Auto-generated readme (#29)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/generate-readme.yml
  .github/workflows/link-check.yml
  .pre-commit-config.yaml
  assets/others.svg
  data/applications.yml
  data/code.yml
  data/make_readme.py
  data/packages.yml
  data/posts.yml
  data/publications.yml
  data/videos.yml
  readme.md
Due: no-bracket-links, no-trailing-slash, no-http

fix readme ToC
  readme.md
Due: no-bracket-links, no-trailing-slash, no-http

reverse order readme items by date per section (for #28)
  data/make_readme.py
Due: none

Reverse order readme items by date (#30)
  data/make_readme.py
  readme.md
Due: no-bracket-links, no-trailing-slash, no-http

make req_keys + opt_keys in data/make_readme.py into sets, don't run generate-readme.yml workflow on forks
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/generate-readme.yml
  data/make_readme.py
  readme.md
Due: no-bracket-links, no-trailing-slash, no-http

add full author list to all publications + applications
  .pre-commit-config.yaml
  data/applications.yml
  data/publications.yml
Due: no-trailing-slash, no-http

validate_item() assert no 'et al' in authors field
  data/make_readme.py
Due: none

update readme with full author info
  readme.md
Due: no-bracket-links, no-trailing-slash, no-http

remove periods at end of authors fields
  data/publications.yml
Due: no-trailing-slash, no-http

Add full authors list for all publications (#31)
  .pre-commit-config.yaml
  data/applications.yml
  data/make_readme.py
  data/publications.yml
  readme.md
Due: no-bracket-links, no-trailing-slash, no-http

Path conditions:
  no-bracket-links: any of: \.(md|markdown|mdown)$
  no-trailing-slash: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$
  no-http: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: .pre-commit-config.yaml
