Repository janosh/awesome-normalizing-flows: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-bracket-links, no-http, no-repeated-whitespace

no-bracket-links:
  name: Brackets should not be inside links [[link]](url) -> [[link](url)]
  entry: \]\]\(
  language: pygrep

no-http:
  name: URLs must use HTTPS
  entry: 'http:'
  language: pygrep

no-repeated-whitespace:
  name: No repeated spaces
  entry: \S+\s{2,}
  language: pygrep

<br> to newline
  data/publications.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

remove style="filter: invert();"
  data/publications.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

try fill=white SVG diagrams for dark mode readme
  data/publications.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

Add dark and light mode versions for readme diagrams (#48)
  .pre-commit-config.yaml
  assets/made.svg
  assets/normalizing-flow.svg
  data/publications.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

mv data/{codes->repos}.yml
  data/make_readme.py
  data/repos.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

fix RNVP, MAF and MADE diagrams not showing white version in dark mode readme
  data/publications.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

add ICNF.jl https://github.com/impICNF/ICNF.jl by Hossein Pourbozorg
  data/repos.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

render docs link in readme if docs url available
  data/make_readme.py
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

add 'Block Neural Autoregressive Flow'
  data/publications.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

Added normflows to the list of PyTorch packages
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

Added normflows to the list of PyTorch packages (#50)
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

add normflows package added in #50 to data/packages.yml
  data/packages.yml
Due: no-http, no-repeated-whitespace

pre-commit run --all-files
  .pre-commit-config.yaml
  data/make_readme.py
  data/publications.yml
Due: no-http, no-repeated-whitespace

update readme
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

pre-commit autoupdate (#51)
  .pre-commit-config.yaml
  data/make_readme.py
  data/publications.yml
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

rm setup.cfg and replace flake8 isort autoflake pre-commit hooks with ruff
  .pre-commit-config.yaml
  data/make_readme.py
  setup.cfg
Due: no-repeated-whitespace

rm setup.cfg and replace flake8 isort autoflake pre-commit hooks with ruff (#52)
  .pre-commit-config.yaml
  data/make_readme.py
  setup.cfg
Due: no-repeated-whitespace

added FInCFlow paper
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

Update readme.md
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

added FInCFlow https://arxiv.org/abs/2301.09266
  readme.md
Due: no-bracket-links, no-http, no-repeated-whitespace

Update publications.yml
  data/publications.yml
Due: no-http, no-repeated-whitespace

Path conditions:
  no-bracket-links: any of: \.(md|markdown|mdown)$
  no-http: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: .pre-commit-config.yaml
  no-repeated-whitespace: any file but: \.py$
